header {
    height: 80px;
    background-color: #2F4558;
}

footer {
    margin-top: 10%;
    height: 126px;
    background-color: #2F4558;
}

#logo {
    position: absolute;
    height: inherit;
}

:root {
    --hauteur-menu: 80px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
}

nav {
    background-color: #2F4558;
    width: 60%;
    left: 40%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

footer nav {
    left: 20%;
}

nav>ul {
    display: flex;
    text-align: center;
    height: var(--hauteur-menu);
    list-style-type: none;
}

nav>ul>li {
    position: relative;
    height: 100%;
    flex: 1;
}

nav>ul>li>a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li>a {
    text-decoration: none;
    color: white;
}

.menu-deroulant>a:after {
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    /*display: inline-block;*/
}

.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: #335F8A;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}

footer>.sous-menu {
    margin-top: 0;
    margin-left: 100%;
}

.sous-menu>li>a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

nav>ul>li:hover {
    background-color: #335F8A;
}

.sous-menu>li:hover {
    background-color: #2F4558;
}

.menu-deroulant:hover a:after {
    animation: rotationFleche 0.2s linear forwards;
}

.menu-deroulant:hover .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}

@keyframes rotationFleche {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes apparitionSousMenu {
    0% {
        border-top: 3px solid #2169EC;
        box-shadow: 0px 3px 3px 1px black;
    }

    100% {
        max-height: 50em;
        border-top: 3px solid #2169EC;
        box-shadow: 0px 3px 3px 1px lightgrey;
    }
}