@font-face {
  font-family: "Hammersmith One";
  src: url("../fonts/HammersmithOne-Regular.ttf");
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir\ 65\ Medium.otf");
}

body {
  background-color: #eeeeee;
  /*background-image: url("../Images/background.jpg");
  background-repeat: repeat;*/
}

header,
footer {
  background-color: #2F4558;
}

footer{
  padding-bottom: 2rem;
}

.navbar-brand{
  width: 150px; 
  height: auto;
}

#logo{
  height: 100%;
  width: 100%;
}

p, span{
  font-size: 18px;
  font-family: "Avenir";
  margin-bottom: 13px;
}

.nav-link, footer>div>.btn, footer>div>div>.btn {
  font-size: 20px;
  font-family: "Avenir";
  color: white !important;
}

.nav-link{
  margin-right: 1rem;
  margin-left: 1rem;
}

h1 {
  font-family: "Hammersmith One";
  font-size: 72px;
  margin-bottom: 50px;
}

h2 {
  font-size: 38px;
  font-family: "Hammersmith One";
  margin-bottom: 22px;
}

#articles>article{
  margin-bottom: 40px;
}

#paragraphe{
  justify-content: space-between;
}

#paragaphe>div>img{
  display: flex;
  align-items: center;
}

#sidediv>section{
  padding: 1rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  background-color: white;
}

form>h2{
  text-transform: uppercase;
  text-align: left;
}

/*.sous-menu{
  width: 200px;
  height: auto;
  background-color: #335F8A;
  border-radius: 2px;
}

.sous-menu-item{
  height: auto;
  color: white;
  -webkit-hyphens: auto !important;
  hyphens: auto;
  overflow-wrap: break-word;
}

#footerButton:hover{
  background-color: white;
  color: #2F4558 !important;
}*/