#bandeau_image_accueil {
    background-image: url("../Images/cathedrale4.jpeg");
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.texte {
    text-align: center;
}

.actu {
    background-color: white;
}

#presentation {
    background-color:#6898cc;
    min-height: 10vw;
    margin-left:auto;
    margin-right:auto;
    width: 35%;
    border-radius: 20px;
    padding-bottom: 2%;
    margin-top : 5%
}

#presentation .display-5{
    padding-top:5%;
    text-align:center;
}

#presentation p{
    text-align: center;
    
}

#boutons-accueil{
    margin-top:10%;
    display:flex;
    justify-content: space-evenly;
}

#btn1,#btn2 {
    background-color: #5375be;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:15px;
}

#btn1:hover, #btn2:hover {
    background-color:white ;
    color:#5375be
}


@media screen and (max-width:700px){ /* telephon*/
    #presentation p {
        display:none;
    }

    #presentation h1 {
        text-align: center;
    }

    #boutons-accueil{
        margin-top:10%;
        flex-direction: row;
    }

    #presentation {
        background-color: #6898cc;
        min-height: 10vw;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        border-radius: 20px;
        padding-bottom: 2%;
        margin-top: 5%;
    }

    #btn1,#btn2{
        width:50%;
        text-align: center;
        padding:3.5%;
       
    }
    #boutons-accueil{
        gap:10px;
    }


}

@media (min-width:700px) and (max-width:1200px){ /* tablet*/
    #presentation {
        background-color:#335F8A;
        min-height: 10vw;
        margin: 2% 0% 10% 60%;
        width: 50%;
        border-radius: 20px;
        padding-bottom: 2%;
    }
}


