#bandeau-image-accueil{
    object-fit: cover;
}

#presentation{
    background-color: #2F4558;
}

/* #bandeau_image_accueil {
    background-image: url("../Images/cathedrale4.jpeg");
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.texte {
    text-align: center;
}

.actu {
    background-color: white;
}

#presentation {
    background-color:#6898cc;
    height:500px;
    margin-left:66%;
    width: 35%;
    padding-bottom: 9%;
    padding-top: 5%
    
}

#presentation .display-5{
    padding-top:5%;
    text-align:center;
}

#presentation p{
    text-align: center;
    
}

#boutons-accueil{
    margin-top:10%;
    display:flex;
    justify-content: space-evenly;
}

#btn1,#btn2 {
    background-color: #5375be;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:15px;
}

#btn1:hover, #btn2:hover {
    background-color:white ;
    color:#5375be
} */